InAppStorySdk/.idea/compiler.xml
InAppStorySdk/.idea/jarRepositories.xml
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/AppearanceManagerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/InAppStoryManagerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/InAppStoryServiceTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/cache/ImageLoaderTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/cache/KeyValueStorageTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/cache/SharedPreferencesAPITest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/downloader/DownloaderTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/downloader/SlidesDownloaderTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/downloader/StoryDownloaderTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/downloader/StoryDownloadManagerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/game/FileUnzipperTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/game/GameLoaderTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/listwidget/StoriesWidgetFactoryTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/lrudiskcache/CacheJournalTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/lrudiskcache/FileManagerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/lrudiskcache/LruDiskCacheTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/network/ApiCallsTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/network/NetworkClientBuilder.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/network/NetworkClientTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/network/NetworkHandlerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/reader/buttonspanel/ButtonsPanelManagetTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/reader/buttonspanel/ButtonsPanelTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/statistic/OldStatisticManagerTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/storieslist/StoriesAdapterTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/storieslist/StoriesListTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/storieslist/StoryListItemTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/utils/SizesTest.java
InAppStorySdk/inappstorysdk/src/androidTest/java/com/inappstory/inappstorysdk/videoplayer/VideoPlayerTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/InAppStoryManagerTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/Utils.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/cache/MemoryCacheTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/downloader/DownloaderTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/json/ComplexJsonParserObject.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/json/JsonParserTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/json/RecursiveJsonParserObject.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/json/SimpleJsonParserObject.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/lrudiskcache/CacheJournalItemTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/lrudiskcache/TimeComparatorTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/network/NetworkHandlerTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/statistic/StatisticManagerTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/statistic/StatisticSessionTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/story/StoryTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/utils/PhoneFormatsTest.java
InAppStorySdk/inappstorysdk/src/test/java/com/inappstory/inappstorysdk/utils/WebPageConverterTest.java
