<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inappstory.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:forceDarkAllowed="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <provider
            android:name=".share.InAppStoryFileProvider"
            android:authorities="${applicationId}.com.inappstory.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/inappstory_file_path" />
        </provider>

        <activity
            android:name="com.inappstory.sdk.stories.ui.reader.StoriesActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/StoriesSDKAppTheme.Transparent"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.inappstory.sdk.stories.ui.reader.StoriesTabletActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/StoriesSDKAppTheme.Transparent"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".game.reader.GameActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/StoriesSDKAppTheme.GameActivity" />

        <receiver android:name=".stories.utils.StoryShareBroadcastReceiver" />

    </application>

</manifest>
