<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inappstory.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:forceDarkAllowed="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">

        <activity
            android:name="com.inappstory.sdk.stories.ui.reader.StoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="com.inappstory.sdk.stories.ui.reader.StoriesFixedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NonTransparent" />

        <activity
            android:name=".game.reader.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GameActivity" />

        <receiver android:name=".stories.utils.StoryShareBroadcastReceiver" />

    </application>

</manifest>
